<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
    <section>
        {{>navbar}}
    </section>
    <section>
        {{>galleryy}}
    </section>
    <script src="../jq/jquery.js" type="text/javascript"> </script>
    <script src="../js/bootstrap.js" type="text/javascript"> </script>
</body>

</html>