<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
 <section>
    {{>navbar}}
 </section>
 {{!-- hero section start --}}
{{>hero}}
{{!-- hero section end --}}
{{!-- aboutus section start --}}
{{>aboutus}}
{{!-- aboutus section start --}}
{{!-- services start --}}
{{>servicess}}
{{!-- services ends --}}

{{!-- gallery start --}}
{{>galleryy}}
{{!-- gallery ends --}}

{{!-- contact start --}}
{{>contactt}}
{{!-- contact ends --}}

{{!-- map start --}}
{{>map}}
{{!-- map ends --}}


    <script src="../jq/jquery.js" type="text/javascript"> </script>
    <script src="../js/bootstrap.js" type="text/javascript"> </script>
</body>
</html>