<section class="container-fluide mt-5" id="index">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div
                    class="col-md-6 col-12 order-md-0 order-1 hero-text d-flex flex-column align-content-start justify-content-center">
                    <h1>we help you</h1>
                    <h1>grow your business</h1>
                    <p>we are the the team of <span class="bold-style">proffesional develepor</span></p>
                    <button class="btn-style btn-primary w-25">Read more</button>
                </div>
                {{!-- right side --}}
                <div class="col-md-6 col-12 order-md-1 order-0 hero-text">
                    <figure>
                        <img src="images/fyz.jpg" alt="fayaz">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>